<form class="search-form" id="search-form">
  <div class="mb-3 wrapper">
  <input
      class="form-control"
      type="text"
      name="query"
      autocomplete="off"
      placeholder="Search images..."
  />
</div>
<div class="mb-3"><button type="submit" class="btn btn-info mb-3 button">Submit</button></div>
</form>

<ul class="gallery"></ul>

<button
  type="button"
  class="btn btn-info button"
  data-action="load-more">
  <span class="spinner-grow spinner-grow-sm text-dark spinner is-hidden" role="status" aria-hidden="true"></span>
  <span class="label">Show more</span>
</button>